<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Home page test" preserve-order="true" >
        <classes>
            <class name="Scenarios.HomePageTest"/>
        </classes>
    </test>
    <test name="Login page test" preserve-order="true" >
         <classes>
            <class name="Scenarios.LoginTest"/>
        </classes>
    </test>
</suite>